<!doctype html>
<html class="no-js" ng-app="tiyorlandoDemoDaygithubio">
  <head>
    <meta charset="utf-8">
    <title>tiyorlandoDemoDaygithubio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid" ng-controller="MainCtrl as app">
    
      <header class="text-center lined">
          <img class="ironlogo" src="https://d2z6c3c3r6k4bx.cloudfront.net/uploads/event/logo/1001988/logo3.png" alt="I'm Yeoman"><br>
          <h3>Welcome to Demo Day!</h3>
          <div class="no-mobile">
          <p class="tiy-info">Kitsch next level Wes Anderson, mixtape shabby chic pug wolf craft beer brunch drinking vinegar 90's. Kogi freegan health goth Tumblr. Cray small batch Brooklyn seitan asymmetrical Neutra chambray. </p>
          <p class="tiy-info">Kitsch next level Wes Anderson, mixtape shabby chic pug wolf craft beer brunch drinking vinegar 90's. Kogi freegan health goth Tumblr. Cray small batch Brooklyn seitan asymmetrical Neutra chambray. Blue Bottle craft beer semiotics, Williamsburg hoodie chillwave health goth. Pork belly master cleanse pickled narwhal. Hashtag heirloom church-key kitsch, stumptown cred seitan try-hard yr. Actually vegan selfies skateboard cold-pressed small batch.</p>
          </div>
          <div class="learn">
              <button class="btn btn-learn btn-lg">Check Out The Projects</button>
          </div>
      </header>
      <section class="front-end-title">
          <h2>Front End Engineering</h2>
      </section>
      <ul class="front-end container-fluid">
          
      
          <li class="container-fluid" ng-repeat="team in app.frontEnders">

             <h3 class="fee"><a ng-href="{{team.url}}">{{team.title}}</a></h3>
                <div class="bio col-xs-12">
                    <p>Developed By: {{team.students.name1}} and {{team.students.name2}}</p>
                    <h5>What is it?</h5>
                    <p>{{team.description}}</p>
                 </div>
                 <div class="team-content no-mobile">
                     <div class="row user-content">
                          <div class="team-thumb col-xs-12 col-md-6">
                              <img ng-src="{{team.students.img1}}" alt="" class="thumbnail">
                          </div>
                          <div class="bio col-xs-12 col-md-6">
                              <h4>{{team.students.name1}} <a ng-href="https://github.com/{{team.students.git1}}"><span class="fa fa-github fa-2x"></span></a> <a ng-href="https://twitter.com/{{team.students.twit1}}"><span class="fa fa-twitter fa-2x"></span></a> <a ng-href="mailto:{{team.students.email1}}"><span class="fa fa-envelope fa-2x"></span></a></h4>
                              <p>{{team.description}}</p>
                          </div>
                      </div>
                      <div class="row user-content" ng-hide="team.students.name2 == false">
                          <div class="bio col-xs-12 col-md-6">
                              <h4>{{team.students.name2}} <a ng-href="https://github.com/{{team.students.git2}}"><span class="fa fa-github fa-2x"></span></a> <a ng-href="https://twitter.com/{{team.students.twit2}}"><span class="fa fa-twitter fa-2x"></span></a> <a ng-href="mailto:{{email2}}"><span class="fa fa-envelope fa-2x"></span></a></h4>
                              <p>{{team.description}}</p>
                          </div>
                          <div class="team-thumb col-xs-12 col-md-6">
                              <img ng-src="{{team.students.img2}}" alt="" class="thumbnail">
                          </div>
                      </div>
                  </div>
                  <div class="team-content mobile">
                     <div class="row user-content">
                          <div class="team-thumb col-xs-12 col-md-6">
                              <img ng-src="{{team.students.img1}}" alt="" class="thumbnail">
                          </div>
                          <div class="bio col-xs-12 col-md-6">
                              <h4>{{team.students.name1}} <a ng-href="https://github.com/{{team.students.git1}}"><span class="fa fa-github fa-2x"></span></a> <a ng-href="https://twitter.com/{{team.students.twit1}}"><span class="fa fa-twitter fa-2x"></span></a> <a ng-href="mailto:{{email1}}"><span class="fa fa-envelope fa-2x"></span></a></h4>
                              <p>{{team.description}}</p>
                          </div>
                      </div>
                      <div class="row user-content" ng-hide="team.students.name2 == false">
                         <div class="team-thumb col-xs-12 col-md-6">
                              <img ng-src="{{team.students.img2}}" alt="" class="thumbnail">
                          </div>
                          <div class="bio col-xs-12 col-md-6">
                              <h4>{{team.students.name2}} <a ng-href="https://github.com/{{team.students.git2}}"><span class="fa fa-github fa-2x"></span></a> <a ng-href="https://twitter.com/{{team.students.twit2}}"><span class="fa fa-twitter fa-2x"></span></a> <a ng-href="mailto:{{team.students.email2}}"><span class="fa fa-envelope fa-2x"></span></a></h4>
                              <p>{{team.description}}</p>
                          </div>
                      </div>
                  </div>
          </li>
      </ul>
       <section class="rails-title">
          <h2>Rails Engineering</h2>
      </section>
      <ul class="rails container-fluid">
          
      
          <li class="container-fluid" ng-repeat="team in app.rubyists">

             <h3 class="fee"><a ng-href="{{team.url}}">{{team.title}}</a></h3>
                <div class="bio col-xs-12">
                    <p>Developed By: {{team.students.name1}} and {{team.students.name2}}</p>
                    <h5>What is it?</h5>
                    <p>{{team.description}}</p>
                 </div>
                 <div class="team-content no-mobile">
                     <div class="row user-content">
                          <div class="team-thumb col-xs-12 col-md-6">
                              <img ng-src="{{team.students.img1}}" alt="" class="thumbnail">
                          </div>
                          <div class="bio col-xs-12 col-md-6">
                              <h4>{{team.students.name1}} <a ng-href="https://github.com/{{team.students.git1}}"><span class="fa fa-github fa-2x"></span></a> <a ng-href="https://twitter.com/{{team.students.twit1}}"><span class="fa fa-twitter fa-2x"></span></a> <a ng-href="mailto:{{team.students.email1}}"><span class="fa fa-envelope fa-2x"></span></a></h4>
                              <p>{{team.description}}</p>
                          </div>
                      </div>
                      <div class="row user-content" ng-hide="team.students.name2 == false">
                          <div class="bio col-xs-12 col-md-6">
                              <h4>{{team.students.name2}} <a ng-href="https://github.com/{{team.students.git2}}"><span class="fa fa-github fa-2x"></span></a> <a ng-href="https://twitter.com/{{team.students.twit2}}"><span class="fa fa-twitter fa-2x"></span></a> <a ng-href="mailto:{{email2}}"><span class="fa fa-envelope fa-2x"></span></a></h4>
                              <p>{{team.description}}</p>
                          </div>
                          <div class="team-thumb col-xs-12 col-md-6">
                              <img ng-src="{{team.students.img2}}" alt="" class="thumbnail">
                          </div>
                      </div>
                  </div>
                  <div class="team-content mobile">
                     <div class="row user-content">
                          <div class="team-thumb col-xs-12 col-md-6">
                              <img ng-src="{{team.students.img1}}" alt="" class="thumbnail">
                          </div>
                          <div class="bio col-xs-12 col-md-6">
                              <h4>{{team.students.name1}} <a ng-href="https://github.com/{{team.students.git1}}"><span class="fa fa-github fa-2x"></span></a> <a ng-href="https://twitter.com/{{team.students.twit1}}"><span class="fa fa-twitter fa-2x"></span></a> <a ng-href="mailto:{{email1}}"><span class="fa fa-envelope fa-2x"></span></a></h4>
                              <p>{{team.description}}</p>
                          </div>
                      </div>
                      <div class="row user-content" ng-hide="team.students.name2 == false">
                         <div class="team-thumb col-xs-12 col-md-6">
                              <img ng-src="{{team.students.img2}}" alt="" class="thumbnail">
                          </div>
                          <div class="bio col-xs-12 col-md-6">
                              <h4>{{team.students.name2}} <a ng-href="https://github.com/{{team.students.git2}}"><span class="fa fa-github fa-2x"></span></a> <a ng-href="https://twitter.com/{{team.students.twit2}}"><span class="fa fa-twitter fa-2x"></span></a> <a ng-href="mailto:{{team.students.email2}}"><span class="fa fa-envelope fa-2x"></span></a></h4>
                              <p>{{team.description}}</p>
                          </div>
                      </div>
                  </div>
          </li>
      </ul>
    </div>
    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automaticaly insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
